@mixin flex-center($direction) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction
}

@mixin flex-space-around($direction) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: $direction
}

@mixin flex-space-between($direction) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: $direction
}


@mixin flex($direction) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: $direction;
}

@mixin modal-position {
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@mixin form-input-default {
    border: 1px $targ-silver-light solid;
    background-color: none;
    border-radius: 3px;
    font-size: $text;
    height: 40px;
    text-indent: 10px;
    margin-bottom: 10px;
    width: 75%;
}

@mixin form-label-default {
    //occupy entire line and align left
    display: block;
    width: 75%;

    color: $targ-silver-dark;
    font-size: $detail;
    margin-bottom: 10px;
}
