//font faces
@import url("https://fonts.googleapis.com/css?family=Lato");
$lato: "Lato", sans-serif;


//text and paragraphs
$text-header: 16px;
$text: 13px;
$detail: 11px;

//icons
$add-button: 24px;

//titles and headers
$header: 48px;
$sub-header: 36px;
$small-header: 24px;
