@mixin flex-center($direction) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction
}

@mixin flex-space-around($direction) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: $direction
}

@mixin flex-space-between($direction) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: $direction
}


@mixin flex($direction) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: $direction;
}

@mixin modal-position {
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@mixin form-input-default {
    border: 1px $targ-silver-light solid;
    background-color: none;
    border-radius: 3px;
    font-size: $text;
    height: 40px;
    text-indent: 10px;
    margin-bottom: 10px;
    width: 75%;
}

@mixin form-label-default {
    //occupy entire line and align left
    display: block;
    width: 75%;

    color: $targ-silver-dark;
    font-size: $detail;
    margin-bottom: 10px;
}

@mixin hover-ease($property) {
    -webkit-transition: $property 300ms ease-in;
    -moz-transition: $property 300ms ease-in;
    -ms-transition: $property 300ms ease-in;
    -o-transition: $property 300ms ease-in;
    transition: $property 300ms ease-in;
}

@mixin spin($degrees) {
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
    -webkit-transform: rotate($degrees);
    -moz-transform: rotate($degrees);
    -o-transform: rotate($degrees);
    -ms-transform: rotate($degrees);
    transform: rotate($degrees);
}

@mixin arrow-up($color) {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $color;
}

@mixin float-shadow {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@mixin expanding-bottom-border($color, $thickness) {
    content: '';
    display: block;
    width: 100%;
    height: $thickness;
    background: $color;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

@mixin expanding-bottom-border-after-hover {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

@mixin card-defaults {
    background: $winter-white;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}
