//third-parties
@import url("https://fonts.googleapis.com/css?family=Lato");
//utils
@import "utils/colors";
@import "utils/reset";
@import "utils/flex";

//components
@import "placeholder.scss";
@import "session_form.scss";
@import "logos.scss";
@import "footer.scss";
@import "task_header.scss";
@import "task_list.scss";
@import "sidebar.scss";
@import "teams.scss";
@import "modals.scss";
@import "searches.scss";
@import "projects.scss";

//containers
html,
body {
    height: 100%;
    font-family: "Lato", sans-serif;
    overflow: scroll;
    font-size: 62.5%;
}

main {
    width: 100%;
    min-height: 100%;
    @include flex(row);
    @include background-gradient($lannister-gold, $login-gradient);
}

.session-container {
    width: 100%;
    @include center-flex(column);
    padding: 30px 0px 30px 0px;
}

.app-container {
    @include flex(row);
    flex: auto;
}

// links and buttons
a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

button:active,
button:focus,
input:active,
input:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

// submit buttons on forms without valid input
.disabled-a {
    pointer-events: none;
    cursor: none;
}
