$winter-white: #FFFFFF;
$targ-silver-light: #e0e6e8;
$targ-silver-dark: #9ca6af;
$tarth-sapphire: #222b37;
$nights-watch-black: #151b26;
$sansa-pink-light: #ff8585;
$sansa-pink-dark: #ff5263;
$melisandre-red: #ed4758;
$lannister-gold: #fcbd01;
$cersei-green: #25e8c8;
$night-king-blue: #14aaf5;

$login-gradient: to top right, $sansa-pink-dark 10%, $sansa-pink-light 35%, $lannister-gold;
