//stateless container for TaskHeader + TaskList
.task-with-header {
    background-color: $lord-of-light-white;
    width: -moz-calc(100% - 244px);
    width: -webkit-calc(100% - 244px);
    width: -o-calc(100% - 244px);
    width: calc(100% - 244px);
}

//navigation header, consisent on all pages
.global-header {
    height: 40px;
    padding: 0 30px;
    border-top: 1px solid $targ-silver-light;
    background-color: $winter-white;
    @include flex-space-between(row);
}

//variant position for 'fixed' effect on screen resize
.global-header-section {
    @include flex-center(row);
    flex: 1;
}

.global-header-left-section {
    @extend .global-header-section;
    justify-content: flex-start;
}

.global-header-right-section {
    @extend .global-header-left-section;
    justify-content: flex-end;
}

.header-link {
    display: inline-block;
    color: $tarth-sapphire;
    font-size: $text;
    margin: 0 15px 0 0;
    @include hover-ease(color);
}

.header-link:after {
    @include expanding-bottom-border($night-king-blue, 1px);
}

.header-link:hover {
    color: $night-king-blue-button-hover;
}

.header-link:hover:after {
    @include expanding-bottom-border-after-hover;
}


//global left (defaults) for header dropdown styling
.global-header-left-action-button {
    border-radius: 50%;
    color: $winter-white;
    font-size: $add-button;
    @include background-gradient($lannister-gold, $add-button-gradient);
}

.global-header-left-action-button:hover {
    @include spin(90deg);
}

.global-header-right-action-button {
    @include flex-center(row);
}

//toggle dropdown visiblity
.header-action-button-container {
    position: relative;
    display: inline-block;
}

.action-index-container-hidden {
    z-index: 1;
    display: none;
    position: absolute;
}

.action-index-container-visible {
    @extend .action-index-container-hidden;
    display: flex;
}

//specific alignment for global header dropdowns
//flex alignment to align pointer arrow
.global-header-left-action-index-alignment-container {
    @include flex-center(column);
    position: absolute;
    left: -68px;
    top: 8px;
}

.global-header-right-action-index-alignment-container {
    @include flex(column);
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    left: -127px;
    top: 6px;
}

.arrow-up-gold {
    @include arrow-up($lannister-gold);
}

.arrow-up-blue {
    @include arrow-up($night-king-blue);
}

.global-header-left-action-index {
    @include flex-center(column);
    overflow: scroll;
    background-color: $winter-white;
    width: 160px;
    border-radius: 4px;
    border-top: 3px solid $lannister-gold;
    @include float-shadow;
}

.global-header-right-action-index {
    @extend .global-header-left-action-index;
    width: 200px;
    border-top-right-radius: 0px;
    border-top: 3px solid $night-king-blue;
}

.global-header-left-action-index-item {
    @include flex(row);
    align-items: center;
    justify-content: flex-start;
    width: 160px;
    height: 50px;
    cursor: pointer;
}

.global-header-left-action-index-item:hover {
    @include background-gradient($melisandre-red, $add-button-gradient);
}

//extending from global-header-left picks up the gradient transition, for some reason
.global-header-right-action-index-item {
    @include flex(row);
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    height: 40px;
    cursor: pointer;
}

.global-header-right-action-index-item:hover {
    background-color: $night-king-blue;
    @include hover-ease(background-color);
}

.global-header-left-action-index-item:hover>.action-index-item-title,
.global-header-right-action-index-item:hover>.action-index-item-title, .global-header-left-action-index-item:hover>.action-index-item-icon,
.global-header-right-action-index-item:hover>.action-index-item-icon, {
    color: $winter-white;
}

.action-index-item-icon {
    color: $targ-silver-dark;
    font-size: $text-header;
    margin: 0 0 0 15px;
}

.action-index-item-title {
    @extend .action-index-item-icon;
    font-size: $text;
}

.upgrade-button {
    @extend .session-form-submit;
    height: 30px;
    line-height: 30px;
    background-color: $lannister-gold-button;
}

.upgrade-button:hover {
    background-color: $lannister-gold-button-hover;
}

.global-header-profile-image {
    @extend .sidebar-profile-image;
    margin: 0;
    max-height: 30px;
}

.global-header-profile-image:hover {
    box-shadow: 0 0 3px 3px $night-king-blue;
}

//local header 
.local-header {
    height: 65px;
    border-top: 1px solid $targ-silver-light;
    border-bottom: 1px solid $targ-silver-light;
    background-color: $winter-white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    @include flex-center(row);
}

.local-header-title-container {
    @include flex-center(row);
    height: 65px;
    border-bottom: 3px solid $night-king-blue;
}

.local-header-title {
    font-size: $small-header;
    font-weight: 800;
}

.local-header-profile-image {
    @extend .sidebar-profile-image;
    max-height: 30px;
}

.local-header-profile-image:hover {
    box-shadow: 0 0 3px 3px $night-king-blue
}

.local-header-action-button {
    color: $targ-silver-dark;
    font-size: $add-button;
    @include spin(90deg);
}

.local-header-action-button:hover {
    color: $cersei-green;
}

.local-header-action-button-active {
    @extend .local-header-action-button;
    @include spin(-90deg);
    color: $cersei-green;
}

.local-header-action-index-alignment-container {
    @extend .global-header-right-action-index-alignment-container;
    top: 0px;
    left: -178px;
}

.local-header-action-index {
    @extend .global-header-right-action-index;
}

.local-header-action-index-item,
.local-header-action-index-item-dangerous {
    @extend .global-header-right-action-index-item;
}

.local-header-action-index-item-dangerous:hover {
    background-color: $melisandre-red;
}
