.horizontal-logo-div {
  width: 585px;
  height: 75px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 15px;
}

.horizontal-logo {
  height: 50px;
  width: auto;
  margin: 25px;
}

.horizontal-logo-div {
  font-size: 40px;
}
