.root-modal-container {
    @include flex-center(column);
    overflow: scroll;
    background-color: $modal-background;
    @include modal-position;
}

.root-modal-container-invisible {
    @extend .root-modal-container;
    background-color: $modal-background-transparent;
}

.override-content-default {
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
}

//shaking eggs for new group modal
.modal-logo {
    height: 100px;
    width: auto;
    margin: 0 25px 25px 25px;
}

.modal-logo-shake {
    @extend .modal-logo;
    animation: shake 0.8s;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.modal-form-container {
    @extend .session-form-container;
    padding: 15px 30px;
}

.modal-header-container {
    width: 100%;
    height: 50px;
    @include flex(row);
    justify-content: flex-start;
    border-bottom: 1px solid $targ-silver-light;
    margin: 0 0 15px 0;
}

.modal-header-container-user-update {
    width: 585px;
    height: 50px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $targ-silver-light;
    margin-bottom: 20px;
}

.modal-header-profile-image {
    border-radius: 50%;
    max-height: 40px;
    margin: -2px 0px 0px 335px;
}

.modal-form-header {
    margin: 15px 0 0 0;
    font-size: $small-header;
    color: $nights-watch-black;
    border-bottom: 3px solid $night-king-blue;
}

.modal-form {
    @extend .session-form;
    margin: 15px 0;
}

.modal-form label {
    @include form-label-default;
}

.modal-form input {
    @include form-input-default;
}

.modal-form input:focus,
.modal-form input:active,
.modal-form textarea:focus,
.modal-form textarea:active {
    border: 1px $cersei-green solid;
}

.modal-form textarea {
    @include form-input-default;
    padding-top: 10px;
    height: 80px;
}

.delete-warning {
    @include flex-center(column);
}

.delete-warning {
    color: $melisandre-red;
    font-size: $text-header;
    text-transform: uppercase;
}

.modal-submit-options {
    @extend .submit-options;
    margin: 30px 0 15px 0;
}

.modal-form-submit {
    @extend .session-form-submit;
    margin: 0;
}

.modal-form-submit-valid {
    @extend .modal-form-submit;
    background-color: $night-king-blue-button;
}

.modal-form-submit-valid:hover, .modal-delete-cancel:hover {
    background-color: $night-king-blue-button-hover;
}

.modal-cancel {
    @extend .modal-form-submit;
    background-color: $melisandre-red-button;
    margin: 0 15px 0 0;
}

.modal-cancel:hover {
    background-color: $melisandre-red-button-hover;
}

.modal-delete-cancel {
    @extend .modal-form-submit-valid;
    margin: 0 15px 0 0;
}

.modal-delete-submit {
    @extend .modal-form-submit;
    @include hover-ease(background-color);
}

.modal-delete-submit:hover {
    background-color: $melisandre-red-button-hover;
}
