.root-modal-container {
    @include flex-center(column);
    overflow: scroll;
    background-color: $modal-background;
    @include modal-position;
}

.root-modal-container-invisible {
    @include flex-center(column);
    overflow: scroll;
    background-color: $modal-background-transparent;
    @include modal-position;
}

.override-content-default {
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
}

//shaking eggs for new group modal
.new-modal-logo {
    height: 100px;
    width: auto;
    margin: 0 25px 25px 25px;
    animation: shake 0.8s;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.modal-form-container {
    @extend .session-form-container;
    padding: 15px 30px;
}

.modal-header-container {
    width: 100%;
    height: 50px;
    @include flex(row);
    justify-content: flex-start;
    border-bottom: 1px solid $targ-silver-light;
    margin: 0 0 15px 0;
}

.modal-header-container-user-update {
    width: 585px;
    height: 50px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $targ-silver-light;
    margin-bottom: 20px;
}

.modal-header-profile {
    border-radius: 50%;
    max-height: 30px;
    margin-right: 15px;
}

.modal-form-header {
    margin: 15px 0 0 0;
    font-size: $small-header;
    color: $nights-watch-black;
    border-bottom: 3px solid $night-king-blue;
}

//TODO: remove
.modal-edit-header {
    padding-bottom: 13px;
}

//TODO: remove
.modal-upper-header {
    margin-bottom: 15px;
}

//TODO: remove
.modal-lower-header {
    margin-top: 0px;
    color: $cersei-green
}

.modal-form {
    @extend .session-form;
    margin: 15px 0;
}

.modal-form label {
    @include form-label-default;
}

.modal-form input {
    @include form-input-default;
}

.modal-form input:focus,
.modal-form input:active,
.modal-form textarea:focus,
.modal-form textarea:active {
    border: 1px $cersei-green solid;
}

.modal-form textarea {
    @include form-input-default;
    padding-top: 10px;
    height: 80px;
}

.modal-form-submit {
    border: none;
    border-radius: 3px;
    color: $winter-white;
    background-color: $targ-silver-light;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    width: 80px;
    margin-right: 15%;
}

.modal-form-submit-valid {
    background-color: $night-king-blue;
}

.modal-form-container-delete {
    align-items: center;
    align-content: center;
    border-radius: 4px;
    background: $winter-white;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    color: white;
}

.modal-form-header-delete {
    margin-top: 30px;
    font-size: 24px;
    padding-bottom: 12px;
    font-size: 24px;
    color: $nights-watch-black;
    border-bottom: 3px solid $night-king-blue;
}

.modal-form-warnings-container {
    background-color: rgba(255, 133, 133, .3);
    padding: 10px 20px 10px 20px;
    margin-top: 15px;
}

.modal-form-warning {
    color: $melisandre-red;
    text-transform: uppercase;
    font-size: 13px;
    margin: 5px;
}

.submit-options-delete {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

.modal-cancel {
    background-color: $melisandre-red;
    color: $winter-white;
    border: none;
    border-radius: 3px;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    width: 80px;
    margin-right: 15px;
}

.modal-cancel-centered {
    background-color: $melisandre-red;
    color: $winter-white;
    border: none;
    border-radius: 3px;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    width: 80px;
}

.modal-cancel a {
    color: $winter-white;
}

.modal-cancel-centered a {
    color: $winter-white;
}

.modal-cancel-delete {
    background-color: $night-king-blue;
    margin-right: 0px;
}

.modal-form-delete {
    border: none;
    border-radius: 3px;
    color: $winter-white;
    background-color: $targ-silver-light;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    width: 80px;
    margin-left: 15px;
    -webkit-transition: background-color 300ms ease-in;
    -moz-transition: background-color 300ms ease-in;
    -ms-transition: background-color 300ms ease-in;
    -o-transition: background-color 300ms ease-in;
    transition: background-color 300ms ease-in;
}

.modal-form-delete:hover {
    background-color: $melisandre-red;
}
