.splash-div {
    @include flex-space-around(column);
    height: 50%;
}

.splash-div img {
    width: 200px;
    height: auto;
}

.splash-div h1 {
    font-size: 4.8rem;
    color: $winter-white;
}

.splash-links {
    width: 300px;
    flex-wrap: wrap;

    @include flex-center(row)
}

.splash-links p {
    font-size: 1.6rem;
    color: $winter-white;
}

.session-link {
    margin: 10px;
    border: 1px solid $winter-white;
    border-radius: 3px;
    color: $winter-white;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    width: 80px;
}

.session-link:hover {
    background: $winter-white;
    color: $targ-silver-dark;
}
