// Place all the styles related to the API::Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.project-detail {
    margin: 35px;
    z-index: 1;
    @include flex-center(column);
}

.project-members-detail {
    @include flex-center(column);
    @include card-defaults;
    width: 244px;
}

.project-members-index {
    @include flex-center(row);
    flex-wrap: wrap;
    margin: 15px 15px 5px 15px;
}

.project-detail-title {
    font-size: $text-header;
    font-weight: bold;
    margin: 30px 0 0 0;
}

.project-detail-profile-image {
    border-radius: 50%;
    max-height: 64px;
    margin: 5px;
}

.project-detail-profile-image:hover {
    box-shadow: 0 0 3px 3px $night-king-blue
}

.project-description {
    @extend .project-members-detail;
    margin: 10px 0 0 0;
}

.project-description>p {
    margin: 15px 30px 30px 30px;
    font-size: $text;
    text-align: center;
}
