// Place all the styles related to the API::Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-new-member-button {
  border-radius: 50%;
  height: 48px;
  width: 48px;
  border: 1px solid $tarth-sapphire;
  color: $tarth-sapphire;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-new-member-button:hover {
  border: 3px solid $tarth-sapphire;
  margin-bottom: 32px;
}
