// Place all the styles related to the API::Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-new-member-button {
  border: 1px solid $targ-silver-dark;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  padding: 12px;
  color: $targ-silver-dark;
  margin-bottom: 30px;
  margin-right: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.project-new-member-button:hover {
  border: 1px solid $cersei-green;
  background-color: $cersei-green;
  color: $winter-white;
}
