.search-bar-container {
  height: 100%;
  width: 33%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  align-content: center;
}

.search-field {
  height: 70%;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid $targ-silver-light;
  border-radius: 15px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  align-content: flex-start;
  padding-left: 15px;
}

//colors the search icon
.search-field {
  color: $targ-silver-dark;
  font-size: 20px;
  position: relative;
}

.search-field input {
  font-size: 14px;
  color: $targ-silver-dark;
  margin-left: 5px;
  width: 80%;
  border: none;
}

.nav-search-results {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: scroll;
  z-index: 300;
  background-color: $winter-white;
  position: absolute;
  top: 30px;
  left: calc(-250px + 50%);
  width: 500px;
  border-radius: 4px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.results-index-item-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  border: 1px solid $targ-silver-light;
  width: 500px;
}

.results-index-item-container:hover {
  background-color: $night-king-blue;
  -webkit-transition: background-color 300ms ease-in;
  -moz-transition: background-color 300ms ease-in;
  -ms-transition: background-color 300ms ease-in;
  -o-transition: background-color 300ms ease-in;
  transition: background-color 300ms ease-in;
}

.results-index-header-wrapper:hover {
  background-color: $winter-white;
}

.results-index-item-container:hover .results-index-context {
  color: $winter-white;
  -webkit-transition: color 300ms ease-in;
  -moz-transition: color 300ms ease-in;
  -ms-transition: color 300ms ease-in;
  -o-transition: color 300ms ease-in;
  transition: color 300ms ease-in;
}

.results-index-image {
  border-radius: 50%;
  max-height: 40px;
  margin-right: 15px;
  margin-left: 15px;
}

.results-index-right-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.results-index-header-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.results-index-header-search-icon {
  font-size: 48px;
  margin-left: 15px;
  color: $cersei-green;
}

.results-index-bold {
  font-weight: 900;
  background-color: inherit;
}

.results-index-underline {
  text-decoration: underline;
  text-decoration-color: $cersei-green;
}

.results-index-header-text {
  margin-left: 15px;
  font-size: 13px;
  color: $nights-watch-black;
}


.results-index-name {
  font-size: 13px;
  color: $nights-watch-black;
  margin-bottom: 2px;
}

.results-index-context {
  font-size: 11px;
  color: $targ-silver-dark;
}

.search-result-clickable {
  display: inline-block;
  width: 500px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
}
