.session-form-container {
  align-items: center;
  align-content: center;
  border-radius: 4px;
  background: $winter-white;
  display: flex;
  flex-direction: column;
  width: 585px;
  overflow: auto;
}

.session-form-header {
  margin-bottom: 30px;
  margin-top: 60px;
  font-size: 48px;
}

.session-form {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 30px;
}

.session-form input {
  border: 1px $targ-silver-light solid;
  border-radius: 3px;
  font-size: 14px;
  height: 40px;
  margin-bottom: 5px;
  margin-left: 12%;
  margin-top: 5px;
  padding-left: 10px;
  width: 75%;
}

.session-form input:focus, .session-form input:active {
  border: 1px $targ-silver-dark solid;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.session-form label {
  color: $targ-silver-dark;
  font-size: 11px;
  margin-bottom: 5px;
  margin-left: 12%;
  width: 100%;
}

.session-form-submit {
  border: 1px solid $winter-white;
  border-radius: 3px;
  color: $winter-white;
  background-color: $targ-silver-light;
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  width: 80px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 72.5%
}

.session-form-submit-valid {
  background-color: $night-king-blue;
}

.session-demo {
  background-color: $night-king-blue;
  width: 120px;
  margin-bottom: 30px;
  margin-top: 0;
  margin-left: 0;
}
