//splash page
.splash-container {
    width: 100%;
    @include flex-center(column);
    padding: 60px 0;
}

.splash-div {
    @include flex-space-around(column);
    height: 60%;
}

.splash-div img {
    height: 200px;
    width: auto;
}

.splash-div h1 {
    font-size: $header;
    color: $winter-white;
}

.splash-links {
    width: 300px;
    flex-wrap: wrap;
    @include flex-center(row)
}

.splash-links p {
    font-size: 16px;
    color: $winter-white;
}

.demo-form-link-splash {
    @extend .demo-form-link;
    margin: 0 0 0 0;
}

//session pages
.session-container {
    @extend .splash-container;
    padding: 0;
}

//session form logo
.horizontal-logo-div {
    width: 200px;
    height: 75px;
    @include flex-space-around(row);
    margin: 0 0 15px 0;
}

.horizontal-logo-div h1 {
    color: $winter-white;
    font-size: $header;
}

.horizontal-logo {
    height: 50px;
    width: auto;
}

//session form
.session-form-container {
    @include flex-space-between(column);
    padding: 60px 30px;
    border-radius: 4px;
    background: $winter-white;
    height: 440px;
    width: 540px;
}

.session-form-header {
    font-size: $header;
}

.session-form {
    @include flex-space-between(column);
    width: 500px;
}

.session-form label {
    //occupy entire line and align left
    display: block;
    width: 75%;

    color: $targ-silver-dark;
    font-size: $detail;
    margin-bottom: 10px;
}

.session-form input {
    border: 1px $targ-silver-light solid;
    border-radius: 3px;
    font-size: $text;
    height: 40px;
    text-indent: 10px;
    margin-bottom: 10px;
    width: 75%;
}

.session-form input:focus, .session-form input:active {
    border: 1px $targ-silver-dark solid;
}

.submit-options {
    @include flex(row);
    width: 500px;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 30px 0 0 0;
}

.session-form-submit {
    border: none;
    border-radius: 3px;
    color: $winter-white;
    background-color: $targ-silver-light;
    margin: 0 15px 0 0;
    font-size: $text;
    height: 40px;
    width: 80px;
    text-align: center;
}

.session-form-submit-valid {
    @extend .session-form-submit;
    background-color: $night-king-blue;
}

//modified to make affordance more attractive than other link options
.demo-form-link {
    @extend .session-form-submit;
    line-height: 40px;
    width: 120px;
    background-color: $night-king-blue;
}

.session-form-submit-valid:hover, .demo-form-link:hover {
    background-color: $night-king-blue-hover;
}

//loading message during autoLogin() runtime
.demo-loading {
    @extend .demo-form-link;
    background-color: $cersei-green;
    margin: 0 0 0 0;
}

//session errors appearing above form inputs
.session-error {
    color: $melisandre-red;
    font-size: $detail;
    font-style: oblique;
    text-transform: uppercase;
    display: block;
    margin: 0 0 5px 0;
    width: 75%;
}

//session errors appearing above form
.session-error-header {
    @extend .session-error;
    width: 100%;
    text-align: center;
    font-size: $text;
    margin: 0 0 30px 0;
}

//links to other session pages (login, demo, signup)
.session-link {
    @extend .demo-form-link;
    margin: 10px;
    border: 1px solid $winter-white;
    background: none;
    width: 80px;
}

.session-link:hover {
    background: $winter-white;
    color: $targ-silver-dark;
}
