.sidebar {
    background-color: $tarth-sapphire;
    width: 244px;
    color: $winter-white;

    @include flex(column);
    align-items: center;
    justify-content: flex-start;
    box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.sidebar-logo-container {
    @include flex-center(row);
    padding: 15px 0 0 0;
    width: 100%;
}

.sidebar-logo {
    height: 36px;
    width: auto;
    margin: 0 15px 0 0;
}

.sidebar-logo-container>h1 {
    display: inline-block;
    font-size: $small-header;
}

.sidebar-logo-container>h1:after {
    @include expanding-bottom-border($winter-white, 1px);
}

.sidebar-logo-container>h1:hover:after {
    @include expanding-bottom-border-after-hover;
}


.sidebar-sections-container {
    @include flex-center(column);
    width: 100%;
}

.sidebar-section {
    @include flex(column);
    align-items: flex-start;
    justify-content: center;
    margin: 15px 0 0 0;
    width: 100%;
}

.sidebar-index-header {
    @include flex-space-between(row);
    width: 218px;
    height: 40px;
    border-bottom: 1px solid $targ-silver-dark;
    margin: 0 0 10px 15px;
}

.sidebar-group-index {
    width: 244px;
    @include flex(column);
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar-group-index-item {
    width: 244px;
    @include flex-space-between(column);
}

.sidebar-group-links {
    //padding, not margin, to preserve hover effect
    padding: 10px 0;
    width: 244px;
    @include flex(row);
    justify-content: flex-start;
    align-content: flex-start;
}

.sidebar-group-links-owner {
    @extend .sidebar-group-links;
    @include flex-space-between(row);
}

.sidebar-group-links:hover, .sidebar-group-links-owner:hover {
    background-color: rgba(255, 255, 255, 0.3);
    @include transition-ease(background-color)
}

.sidebar-group-link {
    margin: 0 0 0 15px;
    color: $winter-white;
    font-size: 13px;
}

.sidebar-group-links:hover .sidebar-tools {
    @include transition-ease(opacity);
    opacity: 1;
}

.sidebar-link-project {
    width: 100%;
    color: $winter-white;
    font-size: 13px;
}

.sidebar-group-members-index {
    @include flex(row);
    justify-content: flex-start;
    align-content: flex-start;
    margin: 10px 0 5px 35px;
    width: 244px;
}

.sidebar-profile-image {
    border-radius: 50%;
    max-height: 24px;
    margin: 0 10px 0 0;
}

.sidebar-profile-image:hover {
    box-shadow: 0 0 3px 3px $night-king-blue;
}


.sidebar-new-button {
    color: $targ-silver-dark;
    font-size: $add-button;
    @include spin(0deg);
}

.sidebar-new-button:hover {
    color: $winter-white;
    @include spin(90deg);
}

.sidebar-tools {
    opacity: 0;
    @include flex-center(row);
    margin: 0 20px 0 0;
}

.sidebar-tool {
    margin-left: 5px;
    cursor: pointer;
}

.sidebar-tool:hover {
    color: $night-king-blue
}
