.sidebar {
  background-color: $tarth-sapphire;
  width: 244px;
  color: $winter-white;
  float: left;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar-section {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  width: 100%;

  margin-bottom: 15px;
  margin-top: 15px;
  padding-bottom: 15px;

}

.sidebar-list-container {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.sidebar-link-list {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.sidebar-header-primary {
  font-size: 16px;
  color: $targ-silver-dark;
  margin-left: 15px;
  width: 90%;
  padding-bottom: 5px;
  border-bottom: 1px solid $targ-silver-dark;
}

.sidebar-nav-link {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: $winter-white;
  font-size: 13px;
  -webkit-transition: background-color 300ms ease-in;
  -moz-transition: background-color 300ms ease-in;
  -ms-transition: background-color 300ms ease-in;
  -o-transition: background-color 300ms ease-in;
  transition: background-color 300ms ease-in;
}

.sidebar-nav-link:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.sidebar-profiles {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  flex-wrap: wrap;
  margin-top: 15px;
  padding-left: 15px;
}

.sidebar-profile-image {
  border-radius: 50%;
  max-height: 24px;
  margin-right: 10px;
}

.sidebar-profile-image:hover {
  box-shadow: 0 0 3px 3px $night-king-blue
}

.sidebar-projects-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 15px;
  margin-top: 15px;
  padding-bottom: 15px;

  border-bottom: 1px $targ-silver-dark solid;
}

.fixed-sidebar-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
