.task-panel-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10px;
  flex-direction: column;
}

.hot-fix-task {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.task-index-placeholder {
  width: 80%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;
}

.task-list-header{
  width: 100%;
  height: 50px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
  border-radius: 3px 3px 0 0;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: $winter-white;
  z-index: 100;
}

.add-task-task-list {
  border: 1px solid $night-king-blue;
  border-radius: 3px;
  color: $night-king-blue;
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  width: 80px;
  margin-left: 30px;
}

.add-task-task-list:hover {
  border: 3px solid $night-king-blue;
  margin-left: 28px;
}

.task-panel {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100px;
}

.task-list-gutter {
  width: 25px;
  background-color: $lord-of-light-white;
  height: 100%;
  border-bottom-left-radius: 3px;
  padding-bottom: 10px;
  padding-top: 10px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
}

.task-index-container {
  width: calc(100% - 25px);
  background: $winter-white;
  padding: 10px;
  height: 100%;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
  border-bottom-right-radius: 3px;
  z-index: 50;
}

.project-task-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.task-panel-team {
  width: 70%;
  min-width: 400px;
}

.project-detail-wrapper {
  margin-top: 10px;
  width: 20%;
  z-index: 50;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.project-members {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;

  background: $winter-white;
  height: 100%;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
  border-radius: 3px;
  min-width: 200px;
  flex-direction: column;
}

.project-members-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 15px;
  margin-bottom: 30px;
}

.project-member-image {
  border-radius: 50%;
  max-height: 64px;
  margin-right: 10px;
  margin-top: 5px;
}

.project-member-image:hover {
  box-shadow: 0 0 3px 3px $night-king-blue
}


.project-description {
  margin-top: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;


  background: $winter-white;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
  border-radius: 3px;
  min-width: 200px;
}

.project-description > p {
  margin: 15px;
  font-size: 13px;
  text-align: center;
  margin-bottom: 30px;
}

.project-description-title {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 30px;
}
