.panel-and-detail-container {
    @include flex-space-between(row);
    padding: 30px;
}

.panel-container {
    @include flex-center(column);
    width: 50vw;
}

.task-index-header {
    width: 100%;
    height: 50px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    border-radius: 3px 3px 0 0;
    @include flex(row);
    align-items: center;
    justify-content: flex-start;
    background: $winter-white;
}

.add-task-button {
    border: 1px solid $night-king-blue;
    border-radius: 3px;
    color: $night-king-blue;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    width: 80px;
    margin-left: 30px;
}

.add-task-button:hover {
    border: 3px solid $night-king-blue;
    margin-left: 28px;
}

.task-index-and-gutter-container {
    @include flex-center(row);
    width: 100%;
}

.task-index-gutter {
    width: 25px;
    background-color: $lord-of-light-white;
    height: 100%;
    border-bottom-left-radius: 3px;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
}

.task-index-container {
    @include flex(column);
    justify-content: center;
    align-items: flex-start;
    width: calc(100% - 25px);
    min-height: 100px;
    background: $winter-white;
    height: 100%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    border-bottom-right-radius: 3px;
}

.task-index-item {
    @include flex-space-between(row);
    border-top: 1px solid $winter-white;
    border-bottom: 1px solid $winter-white;
    width: 100%;
    height: 50px;
}

.task-index-item:hover {
    border-top: 1px solid $targ-silver-light;
    border-bottom: 1px solid $targ-silver-light;
}

.task-index-item-left-alignment-container {
    @include flex-center(row);
    justify-content: flex-start;
    margin: 0 0 0 15px;
}

.task-index-item-right-alignment-container {
    margin: 0 15px 0 0;
}

.complete-task-button {
    font-size: $small-header;
    color: $targ-silver-light;
    @include hover-ease(color);
}

.complete-task-button:hover {
    color: $cersei-green;
}

.task-index-item-title {
    margin: 0 15px;
    font-size: $text;
    color: $nights-watch-black;
}

.due-date-selector {
    @extend .complete-task-button;
}

.due-date-selector:hover {
    color: $targ-silver-dark;
}
