//stateless container for TaskHeader + TaskList
.task-with-header {
  min-height: 100%;
  background-color: $lord-of-light-white;

  width: -moz-calc(100% - 244px);
  width: -webkit-calc(100% - 244px);
  width: -o-calc(100% - 244px);
  width: calc(100% - 244px);

}

//stateless container for TaskHeaderPrimary and TaskHeaderSecondary

.task-header {
  background-color: $winter-white;
  width: 100%;
}

.task-header h1 {
  color: $tarth-sapphire;
}

//TaskHeaderPrimary: holds core links, help tab, upgrade button, user profile edit panel

.task-header-primary {
  height: 40px;
  border-top: 1px solid $targ-silver-light;
  background-color: $winter-white;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-links {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 280px;
  width: 33%;
  margin-left: 15px;
}

.add-task-header-container {
  background: $melisandre-red;
  background: -webkit-linear-gradient($add-task-gradient);
  background: -o-linear-gradient($add-task-gradient);
  background: -moz-linear-gradient($add-task-gradient);
  background: linear-gradient($add-task-gradient);

  border-radius: 12px;
  height: 24px;
  width: 24px;
  margin-right: 15px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  align-content: center;
}

.add-task-header-container:hover {
  -webkit-box-shadow: 0 0 5px 1px $melisandre-red;
  -moz-box-shadow: 0 0 5px 1px $melisandre-red;
  box-shadow: 0 0 5px 1px $melisandre-red;
}

.add-task-header-button {
  color: $winter-white;
  font-size: 20px;
  border-radius: 12px;
  background: transparent;
  border: none;
  margin-bottom: 10%;
}

.header-link {
  text-decoration: none;
  color: $nights-watch-black;
  font-size: 13px;
  margin-left: 15px;
  margin-right: 15px;
}

.header-link:hover {
  color: $viserion-blue;
}

.right-links {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 280px;
  width: 33%;
  margin-right: 15px;
}

.upgrade-button {
  border-radius: 3px;
  color: $winter-white;
  background-color: $lannister-gold;
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  width: 80px;

  -webkit-transition: background-color 300ms ease-in;
  -moz-transition: background-color 300ms ease-in;
  -ms-transition: background-color 300ms ease-in;
  -o-transition: background-color 300ms ease-in;
  transition: background-color 300ms ease-in;
}

.upgrade-button:hover {
  background-color: #ffe01b;
}

.toggle-user-options-panel {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.user-options-panel-hover {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-options-panel-hover:hover > .name-link {
  color: $night-king-blue
}

.user-options-panel-hover:hover > .nav-header-profile {
  box-shadow: 0 0 3px 3px $night-king-blue
}

.name-link {
  margin-right: 5px;
}

.nav-header-profile {
  border-radius: 50%;
  max-height: 30px;
}

.nav-user-options-container {
  opacity: 0;
}

.nav-user-options-container-visible {
  opacity: 1;
}


.nav-user-options {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: scroll;
  z-index: 300;
  background-color: $winter-white;
  position: absolute;
  top: 35px;
  right: 0;
  width: 250px;
  border-radius: 4px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.nav-user-options-item-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
  border: 1px solid $targ-silver-light;
  width: 250px;
  cursor: pointer;
}

.nav-user-options-item-container:hover {
  color: $winter-white;
  background-color: $night-king-blue;
  -webkit-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

.nav-user-option-name {
  font-size: 13px;
  margin-left: 15px;
}

//TaskHeaderSecondary: holds 'My Tasks' or 'Project Tasks' or 'Team Members' header, based on path

.task-header-secondary {
  height: 65px;
  border-top: 1px solid $targ-silver-light;
  border-bottom: 1px solid $targ-silver-light;
  background-color: $winter-white;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
}

.home-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-header-content-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 14px;
  border-bottom: 3px solid $night-king-blue;
  background: transparent;
}

.secondary-header-title {
  font-size: 24px;
  font-weight: 800;
}

.team-header {
  background: $cersei-green;
  background: -webkit-linear-gradient($team-header-gradient);
  background: -o-linear-gradient($team-header-gradient);
  background: -moz-linear-gradient($team-header-gradient);
  background: linear-gradient($team-header-gradient);
}

.team-header-title {
  color: $winter-white;
}

.secondary-header-profile {
  border-radius: 50%;
  max-height: 30px;
  margin-right: 10px;
}

.secondary-header-profile:hover {
  box-shadow: 0 0 3px 3px $night-king-blue
}
