.team-index-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
  height: 100%;
  width: auto;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.team-index-card {
  width: 350px;
  height: 300px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: $winter-white;
  border-radius: 4px;

  margin-top: 20px;
  margin-bottom: 20px;

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.team-index-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.team-index-card-title {
  color: $night-king-blue;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 15px;
}

.team-index-card-image {
  border-radius: 50%;
  max-height: 120px;
}

.team-index-card-image:hover {
  box-shadow: 0 0 10px 3px $night-king-blue
}

.team-index-card-link {
  margin-top: 35px;
  color: $nights-watch-black;
}

.team-index-card-link:hover {
  color: $night-king-blue
}

.bio-card-hover-container {
  position: relative;
  height: 120px;
  width: 120px;
  border-radius: 50%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.bio-card-container {
  position: absolute;
  opacity: 0;
  bottom: -96px;
}

.bio-card-hover-container:hover > .bio-card-container {
  z-index: 150;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
   -moz-transition: opacity 0.3s ease-in-out;
   -o-transition: opacity 0.3s ease-in-out;
   transition: opacity 0.3s ease-in-out;
}

.team-index-bio-card {
  height: 300px;
  width: 400px;
  border-radius: 4px;
  background-position: center;
  background-size: cover;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.15);
}

.team-index-bio-card-modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

  height: 100%;
  width: 100%;
  border-radius: 4px;
}

.team-index-bio-card-title {
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 5px;
  padding-bottom: 5px;
  width: 385px;
  color: $winter-white;
  font-weight: bold;
  font-size: 24px;
  padding-left: 15px;
}

.team-index-bio-card-bio {
  color: $winter-white;
  font-size: 11px;
  margin: 15px;
  display: inline-block;
}

.team-index-bio-about-me {
  margin-right: 15px;
  color: $cersei-green;
  font-style: italic;
  font-size: 11px;
  float: right;
  margin-top: 10px;
}

.team-index-bio-card-link {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  height: 300px;
}
