.team-index-container {
    @include flex-space-between(row);
    flex-flow: row wrap;
    padding: 35px 35px 0 35px;
}

.team-index-card {
    width: 350px;
    height: 240px;
    padding: 30px 0px;
    margin: 0 0 35px 0;
    @include flex-space-around(column);
    @include card-defaults;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.team-index-card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.team-index-card-title {
    color: $night-king-blue;
    font-weight: bold;
    font-size: $small-header;
}

.team-index-card-profile-image {
    border-radius: 50%;
    max-height: 120px;
}

.team-index-card-link {
    color: $nights-watch-black;
}

.team-index-card-link:hover {
    color: $night-king-blue;
}

.team-index-card-link:after {
    @include expanding-bottom-border($night-king-blue, 1px);
}

.team-index-card-link:hover:after {
    @include expanding-bottom-border-after-hover;
}

.popup-card-container {
    position: relative;
    display: inline-block;
}

.popup-card-alignment-container {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    left: -115px;
    top: -92px;
}

.popup-card-container:hover>.popup-card-alignment-container {
    visibility: visible;
}

.popup-card {
    height: 300px;
    width: 350px;
    background-position: center;
    background-size: cover;
    border-radius: 3px;
}

.popup-card-fade-background {
    background-color: rgba(0, 0, 0, 0.5);
    height: 300px;
    width: 350px;
    border-radius: 3px;
    @include flex-space-between(column);
}

//also serves as popup-card-upper-alignment-container
.popup-card-profile-link {
    width: 350px;
    height: 170px;
    @include flex(row);
    justify-content: flex-end;
}

.popup-card-profile-link-icon {
    color: $winter-white;
    @include hover-ease(color);
    font-size: $sub-header;
    margin: 10px 10px 0 0;
}

.popup-card-profile-link-icon:hover {
    color: $night-king-blue;
}

.popup-card-lower-alignment-container {
    height: 130px;
    @include flex-center(column);
}

.popup-card-title-container {
    background-color: rgba(0, 0, 0, 0.6);
    width: 330px;
    height: 40px;
    padding: 0px 10px;
    @include flex-space-between(row);
}

.popup-card-title {
    font-size: $small-header;
    color: $winter-white;
    font-weight: bold;
}

.popup-card-type {
    color: $cersei-green;
    font-size: $detail;
    font-style: italic;
}

.popup-card-bio {
    color: $winter-white;
    font-size: $detail;
    width: 330px;
    margin: 10px 0 0 0;
}
